body{
    background-color: #2D4739;
}
header{
    position: fixed;
    color: #2D4739;
    background-color:#D9E8C8;
    width: 100%;
    padding: 1% 0;
    position: relative;
}
a{
    color:  #2D4739;
    text-align: center;
    background-color: #D9E8C8 ;
    border: 2px solid #8B5E3C;
    border-radius: 20%;
    display: inline;
    padding: 5px;
    margin: 10px;
    border-radius: 10%;
    text-decoration: none;
    
}
a:hover{
    color: blue;
}

.row #ppl{
    width: 80%;
    border: 5px solid #D9E8C8;
    border-radius: 20%;
}

#logo{
    width: 10%
}
h1{
    text-align: center;
    
}
div.row{
    display:flex; 
    justify-content: center;

}
figure{
    text-align: center; 
    width:40%
}
figcaption{
    color:#8B5E3C; 
    font-size:max(2vw, 4vw)
}
.nav{
    display:flex; 
    position: sticky;
    justify-content:center;
    padding: 15px;
    background-color:  #6bb584;
}
.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.navbar {
    text-align: center;
    color: green;
    display:flex; 
    justify-content: center;
    
}
.contactform {
    text-align: center;
    display:flex; 
    justify-content: center;
}
footer{
    text-align: center;
    background-color: #D9E8C8;
}
#quote {
    text-align: center;
    background-color: #6bb584;
    padding: 15px;
    margin: 10px auto;
    max-width: 80%;
    border-radius: 10px;
}
#welcome-text {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px; 
}

#quote-text {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}
#quote-author {
    font-size: 16px; 
    font-weight: bold;
    margin-top: 0;
}
.stuff{
    text-align: center;
    color: #8B5E3C;
}
h3{
    font-size: 30px;
    border:5px solid #D9E8C8;
    width: 30%;
    background-color: #6bb584;
    margin: auto;
    padding: 10px;
    border-radius: 10px;   
}
ul{
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: #D9E8C8;
    align-items: center;
    width: 30px;
    margin: 0 auto;
}
li{
    background-color: #6bb584;
    width: 20px;
    text-align: center;
    margin: 10px auto;
    border: 5px solid#D9E8C8;
    border-radius: 10px;
    color:#2D4739 ;

}
@media (max-width: 768px) {
    .row {
        flex-direction: column; 
        align-items: center;
    }
    footer{
        text-align: center;
        background-color: #D9E8C8;
        display:flex; 
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    #quote{
        text-align: center;
        background-color: #6bb584;
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
        
    }
}